.TitleToolBar {
    width: 60%;
    margin: 16px auto;
    padding: 16px;
    text-align: center;
    background-color: #a7aeb4;
    border: #a7aeb4;
    cursor: pointer;


}

.TitleToolBar:hover {
    background: #ec1d20;
    color: #ffffff;
}


/*backgroundColor: 'blue',*/
/*font: 'inherit',*/
/*border: '1px solid blue',*/
/*padding: '8px',*/
/*cursor: 'pointer'*/
